@model IEnumerable<TODOListMVC.Models.TaskModel>

@{
    ViewBag.Title = "TODO List";
}

<div class="jumbotron">
    <h1 class="text-center">TODO List</h1>
    <div>
        There are @Model.Count()  tasks in the database.<br />
        @Model.Where(t => t.Status == TODOListMVC.Models.TaskStatus.Active).Count() tasks is Active<br />
        @Model.Where(t => t.Status == TODOListMVC.Models.TaskStatus.Completed).Count() tasks is Completed
    </div>
</div>

